*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: #032830;
}

#logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
}

#addStudent{
    position: relative;
    width: 100vw;
    height: auto;
}

#btnAddStudent{
    position: absolute;
    top: 30px;
    right: 40px;
    background-color: #0e3003;
    color: white;
}

.add-btn{
    width: 200px;
    align-items: center;
    margin-right: 70px;
}
#modal-btn-add{
    width: 200px;
    margin-right: 120px;
}

#btn-close{
    background-color: white;
}
#btn-close:hover{
    background-color: red;
    transform: scale(1.05);
}

#studentDetails{
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    top: 130px;
}
#modal-header{
    background-color:  #032830;
    color: white;
}
#modal-footer{
    background-color: #032830;
    color: white;
}
